/* titulo */
.titulo-container {
  background-color: $laranja-main;
  color: $branco;
  padding: 5px;
  width: 250px;
  border-radius: 0 15px 15px 0;
  display: flex;
  margin-bottom: 5px;

  span {
    &:first-child {
      width: 20%;
      font: fontF(20px, bold);
    }

    &:last-child {
      padding: 28px 0 0 80px;
      font: fontF(15px, bold);
    }
  }
}

/* Tabela Header */
.table-header {
  width: 580px;
  border-spacing: 0;

  tr {
    &:first-child {
      background-color: $laranja-main;
      color: $branco;
      font: 10px Roboto;

      th {
        :last-child {
          border-radius: 0 5px 5px 0;
        }
      }
    }

    &:last-child {
      text-align: center;
      font: 9px Roboto;
    }
  }
}

/* Imagem */

.img-header {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18%;
}

/* Tabela Info */

.table-info {
  width: 650px;
  border-spacing: 0;

  tr {
    &:first-child {
      background-color: $laranja-main;
      color: $branco;
      font: 9px Roboto;

      th {
        padding: 5px 0 5px 0;

        :last-child {
          border-radius: 0 5px 5px 0;
        }
      }
    }

    &:last-child {
      td {
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
        }
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          ul:not(:nth-last-child(2)) {
            margin-bottom: 4px;
            padding-right: 5px;
          }
          ul:nth-last-child(2) {
            background-color: $laranja-main;
            padding: 2px;
            font-weight: 400 !important;
            font-size: 10px !important;
            border: 0.2px solid $cinza;
          }

          ul:last-child {
            background-color: $laranja-main;
            padding: 2px;
            font-weight: 400 !important;
            font-size: 10px !important;
            border: 0.2px solid $cinza;
          }

          ul:last-child {
            background-color: $cinza-bold;
            color: $branco;
            padding: 2px;
          }
        }
        &:nth-child(2) {
          vertical-align: baseline !important;
          ul {
            font-weight: 600 !important;
            padding-left: 5px;
            padding-right: 5px;
            color: $cinza-bold;

            &:last-child {
              background-color: $cinza;
              border: 0.1px solid $cinza;
              padding-top: 2px;
              padding-bottom: 2px;
            }
          }
        }

        &:nth-child(3) {
          vertical-align: baseline !important;
          text-align: center !important;
          color: red;
          font-weight: bold !important;
        }
      }
    }
  }
}
