/* titulo */

.titulo-container {
  background-color: #fc9903;
  color: white;
  padding: 5px;
  width: 250px;
  border-radius: 0 15px 15px 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.titulo-container span:first-child {
  width: 20%;
  font-size: 20px;
  font-weight: bold;
}

.titulo-container span:last-child {
  padding: 29px 0 0 80px;
  font-size: 15px;
  font-weight: bold;
}

/* Tabela Header */

.table-header {
  width: 580px;
  border-spacing: 0;
}

.table-header tr:first-child {
  background-color: #fc9903;
  color: white;
  font: 10px Roboto;
}

.table-header tr:first-child th:last-child {
  border-radius: 0 5px 5px 0;
}

.table-header tr:last-child {
  text-align: center;
  font: 9px Roboto;
}

/* Imagem */

.img-header {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18%;
}

/* Tabela Info */

.table-info {
  width: 650px;
  border-spacing: 0;
}

.table-info tr:first-child {
  background-color: #fc9903;
  color: white;
  font: 9px Roboto;
}

.table-info tr:first-child th {
  padding: 5px 0 5px 0;
}

.table-info tr:first-child th:last-child {
  border-radius: 0 5px 5px 0;
}

.table-info tr:last-child td ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Filhos */
/* Primeiro Filho */
.table-info tr:last-child td:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.table-info tr:last-child td:nth-child(1) ul:not(:nth-last-child(2)) {
  margin-bottom: 4px;
  padding-right: 5px;
}

.table-info tr:last-child td:nth-child(1) ul:nth-last-child(2) {
  background-color: #fc9903;
  padding: 2px;
  font-weight: 400 !important;
  font-size: 10px !important;
  border: 0.2px solid rgb(155, 152, 152);
}

.table-info tr:last-child td:nth-child(1) ul:last-child {
  background-color: #fc9903;
  padding: 2px;
  font-weight: 400 !important;
  font-size: 10px !important;
  border: 0.2px solid rgb(155, 152, 152);
}

.table-info tr:last-child td:nth-child(1) ul:last-child {
  background-color: #515151;
  color: white;
  padding: 2px;
}

/* Segundo Filho */
.table-info tr:last-child td:nth-child(2) {
  vertical-align: baseline !important;
}

.table-info tr:last-child td:nth-child(2) ul {
  font-weight: 600 !important;
  padding-left: 5px;
  padding-right: 5px;
  color: #525150;
}

.table-info tr:last-child td:nth-child(2) ul:last-child {
  background-color: #cbcbcb;
  border: 0.1px solid rgb(155, 152, 152);
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Terceiro Filho */

.table-info tr:last-child td:nth-child(3) {
  vertical-align: baseline !important;
}

.table-info tr:last-child td:nth-child(3) {
  text-align: center !important;
  color: red;
  font-weight: bold !important;
}
